.navbar{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}

.navbar a {
    color: white;
    padding: 15px 20px; /* 15px eje Y 20px eje X*/
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: var(--color-primary-dark);
}